#Fade_Div {
	display: none;
}
i {
	float: none;
	font-size: 6em;
	margin: auto;
}
/* LinkedIn */
.fa-linkedin {
	color: #4875B4;
}
/* GitHub */
.fa-github-square {
	color: #6e5494;
}
/* Email */
.fa-envelope {
	color: #156F12;
}

@media (max-width:771px) {
	i {
		font-size: 4em;
	}
}