body {
	background-color: #759AAB;
}
#Row {
	margin-top: 6em;
}
p {
	font-size: 2.6em;
	color: white;
}
#Intro_Text {
	text-align: center;
	margin: 0;
	width: 100%;
	font-family: "Oswald";
}
#Intro_Loop {
	text-align: center;
	margin: 0;
	width: 100%;
	font-family: "Oswald";
}

@media (max-width:990px) {
	#Row {
		margin-top: 2em;
	}
	p {
		font-size: 2.3em;
	}
}
