.project {
	border-top: medium dotted black;
}
.project_titles, .project_img{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
a:link, a:visited, a:hover, a:active  {
	color: #b10000;
	text-decoration: none;
}
img {
	max-width: 20vw;
	max-height: 100%;
}
.project_Description {
	text-align: justify;
}
@media (max-width:771px) {
	.project_img {
		display: none;
	}
}